<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue - Detalles de pelicula</title>

    <!-- Enlazar Vue.js -->
    <script src="https://unpkg.com/vue@3"></script>
    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- SweetAlert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>
    <div id="contenedor">

        <button @click="volver()" type="button" class="btn btn-secondary m-2">Volver</button>
        <div class="container" v-if="movieDetail!=null">
            <div class="row align-items-start">
                <div class="col-12">
                    <div class="card m-3">
                        <div class="row g-0">
                            <div class="col-md-3">
                                <img class="card-img-left w-100" :src="'https://image.tmdb.org/t/p/w600_and_h900_bestv2' + movieDetail.poster_path">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <p class="card-text lead text-muted my-1"><small>{{movieDetail.original_title}}</small></p>
                                    <h2 class="card-title">
                                        {{movieDetail.title}}
                                        <span class="badge bg-info ms-2">
                                            {{movieDetail.vote_average}}
                                        </span>
                                    </h2>
                                    
                                    <span class="badge text-bg-dark me-2 my-2 py-2">
                                        {{movieDetail.runtime}} minutos
                                    </span>
                                    <span v-for="genero in movieDetail.genres" class="badge text-bg-dark me-1 my-2 py-2">
                                        {{genero.name}}
                                    </span>
                                
                                    <p class="card-text lead text-muted my-1">
                                        <em>{{movieDetail.tagline}}</em>
                                    </p>
                                    <p class="card-text my-1">
                                        {{movieDetail.overview}}
                                    </p>
                                    
                                    <hr>
                                    <h5 class="card-title my-1">
                                        Calificacion
                                    </h5>

                                    <input v-model="movieRate" class="me-1" type="number" min="0.5" max="10" step="0.5" style="width:50px">/10
                                    <button @click="sendRating()" class="btn btn-primary ms-2">Subir/actualizar</button>
                                    <button @click="deleteRating()" class="btn btn-danger mx-2">Borrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        window.onload = function(){
            if(localStorage.getItem("user") == null){
                window.location.href = "index.html";
            }
        }

        const {createApp} = Vue;
        const data = null;
        const error = null;
        
        const app = createApp({
            data(){
                return{
                    movieID: localStorage.getItem("movieID"),
                    movieDetail: null,
                    movieRate: null
                }
            },
            methods:{
                volver(){
                    window.location.href = "peliculas.html";
                },

                getMovieDetail(){
                    var config = {
                    method: 'get',
                    url: 'https://api.themoviedb.org/3/movie/'+localStorage.getItem("movieID")+'?language=es-mx',
                    headers: { 
                        'Authorization': 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI4ZGVmNjQ4ZWQ5YTFhNDY5YjY5MzZlMDNhMjI5Yzg5NiIsInN1YiI6IjYzMWUzM2Q5MGQyZjUzMDA3YzZiZDc4OSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.f6J0Wq5Np6EIroU5XVy7GzJlA1e8jyBXTFuAfr2hGf8'
                    }
                    };
                    axios(config)
                    .then(function (response) {
                        app.movieDetail = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },

                sendRating(){
                    var data = new FormData();
                    data.append('value', this.movieRate);

                    var config = {
                    method: 'post',
                    url: 'https://api.themoviedb.org/3/movie/'+localStorage.getItem("movieID")+'/rating?language=es-mx',
                    headers: { 
                        'Authorization': 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI4ZGVmNjQ4ZWQ5YTFhNDY5YjY5MzZlMDNhMjI5Yzg5NiIsInN1YiI6IjYzMWUzM2Q5MGQyZjUzMDA3YzZiZDc4OSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.f6J0Wq5Np6EIroU5XVy7GzJlA1e8jyBXTFuAfr2hGf8', 
                    },
                    data : data
                    };

                    axios(config)
                    .then(function (response) {
                        swal("Calificacion enviada", response.data.status_message, "success");
                    })
                    .catch(function (error) {
                        swal("Error al subir calificacion", error.data.status_message, "error");
                    });
                },

                deleteRating(){
                    swal({
                        title: "¿Eliminar calificacion?",
                        text: "¿Esta seguro de eliminar su calificacion a la pelicula?",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                    .then((willDelete) => {
                    if (willDelete) {
                        var config = {
                        method: 'delete',
                        url: 'https://api.themoviedb.org/3/movie/'+localStorage.getItem("movieID")+'/rating?language=es-mx',
                        headers: { 
                            'Authorization': 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI4ZGVmNjQ4ZWQ5YTFhNDY5YjY5MzZlMDNhMjI5Yzg5NiIsInN1YiI6IjYzMWUzM2Q5MGQyZjUzMDA3YzZiZDc4OSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.f6J0Wq5Np6EIroU5XVy7GzJlA1e8jyBXTFuAfr2hGf8'
                        }
                        };
                        axios(config)
                        .then(function (response) {
                            swal("Calificacion eliminada", response.data.status_message, "success");
                        })
                        .catch(function (error) {
                            swal("Error al eliminar calificacion", error.data.status_message, "error");
                        });
                    }
                    });
                },

                getMovieRating(){
                    var config = {
                    method: 'get',
                    url: 'https://api.themoviedb.org/3/account/14729773/rated/movies',
                    headers: { 
                        'Authorization': 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI4ZGVmNjQ4ZWQ5YTFhNDY5YjY5MzZlMDNhMjI5Yzg5NiIsInN1YiI6IjYzMWUzM2Q5MGQyZjUzMDA3YzZiZDc4OSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.f6J0Wq5Np6EIroU5XVy7GzJlA1e8jyBXTFuAfr2hGf8'
                    }
                    };
                    axios(config)
                    .then(function (response) {
                        app.movieRate = (response.data.results.find(element => element.id == localStorage.getItem("movieID"))).rating;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }
            },
             mounted(){
                 this.getMovieDetail();
                 this.getMovieRating();
            }
        }).mount("#contenedor");
    </script>
</body>
</html>