<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard de usuarios</title>

    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id="contenedor" class="container-dashboard">
        <span class="titulo-nombre">Bienvenido(a) <b>{{nameActual}}</b></span>
        <a href="index.html">
            <button class="btncito btn-red">SALIR</button>
        </a>
        <hr>
        <div v-if="(show=='table')">

            <h1 class="titulo-tabla"> Lista de usuarios registrados </h1>
            <button @click="hacer('agregar',null)" class="btncito btn-green">AGREGAR</button>
            <table class="tabla-usuarios">
                <tr>
                    <th>ID</th>
                    <th>Nombre de usuario</th>
                    <th>Nombre</th>
                    <th>Correo electronico</th>
                    <th>Numero de telefono</th>
                    <th>Sitio web</th>
                    <th>Nombre de compañia</th>
                    <th>Eslogan</th>
                    <th>BS</th>
                    <th class="acciones"></th>
                </tr>
                <!-- Por cada usuario en jsonUsuarios se imprime una fila con sus datos -->
                <tr v-for="user in jsonUsuarios">
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.website}}</td>
                    <td>{{user.company.name}}</td>
                    <td>{{user.company.catchPhrase}}</td>
                    <td>{{user.company.bs}}</td>
                    <td>
                        <button @click="hacer('editar', user)" class="btncito btn-orange">EDITAR</button>
                        <button @click="remover(user)" class="btncito btn-red">ELIMINAR</button>
                    </td>
                </tr>
            </table>
        </div>
        
        <div v-else-if="(show=='form')">
            <h1 v-if="action=='agregar'" class="titulo-tabla">Agregar usuario nuevo</h1>
            <h1 v-else-if="action=='editar'" class="titulo-tabla">Editar usuario existente</h1>
            <label class="form-usuarios">Nombre</label>
            <input type="text" v-model="f_nombre" class="form-usuarios">
            
            <label class="form-usuarios">Nombre de usuario</label>
            <input type="text" v-model="f_username" class="form-usuarios">
            
            <label class="form-usuarios">Correo electronico</label>
            <input type="email" v-model="f_email" class="form-usuarios">
            
            <label class="form-usuarios">Contraseña</label>
            <input type="password" v-model="f_password" class="form-usuarios">

            <label class="form-usuarios">Telefono</label>
            <input type="tel" v-model="f_telefono" class="form-usuarios">
            
            <label class="form-usuarios">Sitio web</label>
            <input type="text" v-model="f_sitioweb" class="form-usuarios">
            
            <br>

            <label class="form-usuarios">Nombre de la compañia</label>
            <input type="text" v-model="f_nombreComp" class="form-usuarios">
            
            <label class="form-usuarios">Eslogan</label>
            <input type="text" v-model="f_eslogan" class="form-usuarios">
            
            <label class="form-usuarios">BS</label>
            <input type="text" v-model="f_bs" class="form-usuarios">



            <br>
            <button @click="guardar" class="btncito btn-green">GUARDAR</button>
            <button @click="goToTable" class="btncito btn-gray">CANCELAR</button>
        </div>
    </div>

    <script type="text/javascript">
        const {createApp} = Vue;
        var miStorage = window.localStorage;
        const data = null;
        const error = null;
        
        const app = createApp({
            data(){
                return{
                    jsonUsuarios: null,
                    nameActual: localStorage.getItem("name"),
                    show: "table", //Dice si se va a estar mostrando la tabla o el formulario
                    action: "", //Dice si se va a agregar o editar
                    f_id: 0,
                    f_nombre: null,
                    f_username: null,
                    f_email: null,
                    f_password: null,
                    f_telefono: null,
                    f_sitioweb: null,
                    f_nombreComp:null,
                    f_eslogan:null,
                    f_bs:null
                }
            },
            methods:{
                hacer(act, user){
                    this.action = act;
                    this.show = "form";
                    if(this.action == "agregar"){
                        console.log("Agregar usuario");
                        //Posiblemente agarrar el ID más alto y sumarle 1 para ponerlo al nuevo usuario
                    }
                    else if(this.action == "editar"){
                        this.f_id = user.id;
                        this.f_nombre = user.name;
                        this.f_username = user.username;
                        this.f_email = user.email;
                        this.f_password = user.password;
                        this.f_telefono = user.phone;
                        this.f_sitioweb = user.website;
                        this.f_nombreComp = user.company.name;
                        this.f_eslogan = user.company.catchPhrase;
                        this.f_bs = user.company.bs;
                    }
                },

                guardar(){
                    if(this.action == "agregar"){
                        this.jsonUsuarios.forEach(user => {
                            if(user.id > this.f_id){ //Para buscar el ID mas alto
                                this.f_id = user.id;
                            }
                        });
                        this.jsonUsuarios.push({
                            id: this.f_id + 1,
                            name: this.f_nombre,
                            username: this.f_username,
                            email: this.f_email,
                            password: this.f_password,
                            phone: this.f_telefono,
                            website: this.f_sitioweb,
                            company:{
                                name: this.f_nombreComp,
                                catchPhrase: this.f_eslogan,
                                bs: this.f_bs
                            }
                        });
                        this.goToTable();
                        swal("Usuario agregado", "Se agrego el usuario exitosamente", "success");
                    }
                    else if(this.action == "editar"){
                        //Busca en el arreglo el ID del que se quiere editar y le actualiza sus datos
                        this.jsonUsuarios.forEach(user => {
                            if(user.id == this.f_id){
                                user.name = this.f_nombre;
                                user.username = this.f_username;
                                user.email = this.f_email;
                                user.password = this.f_password;
                                user.phone = this.f_telefono;
                                user.website = this.f_sitioweb;
                                user.company.name = this.f_nombreComp;
                                user.company.catchPhrase = this.f_eslogan;
                                user.company.bs = this.f_bs;
                            }
                        });
                        this.goToTable();
                        swal("Usuario editado","Se edito el usuario exitosamente", "success");
                    }
                },

                remover(user){
                    swal({
                        title: "¿Eliminar a '"+user.username+"'?",
                        text: "¿Esta seguro de eliminar a '"+user.username+"'?",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                    .then((willDelete) => {
                    if (willDelete) {
                        for (let i = 0; i < this.jsonUsuarios.length; i++) {
                            if(this.jsonUsuarios[i].id == user.id){
                                this.jsonUsuarios.splice(i, 1);
                                i--;
                            }
                        }
                        swal("Usuario eliminado", "Se elimino el usuario '"+user.username+"' exitosamente", "success");
                    }
                    });
                    
                },
                goToTable(){ //Reinicia todo
                    this.f_id = 0;
                    this.action = "";
                    this.f_nombre = null;
                    this.f_username = null;
                    this.f_email =null;
                    this.f_password =null;
                    this.f_telefono = null;
                    this.f_sitioweb = null;
                    this.f_nombreComp = null;
                    this.f_eslogan = null;
                    this.f_bs = null;
                    this.show = "table";
                }

            },

            mounted(){
                fetch("users.json")
                .then((res)=>res.json())
                .then((json)=>(this.jsonUsuarios = json))
                .catch((err)=>(console.log(err)));
            }
        }).mount("#contenedor")


    </script>
</body>


</html>